<a href="https://colab.research.google.com/github/jd-gebbia/Applied_Analytics/blob/main/AAPM_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import json
import pandas as pd
import ast

path = ['/content/drive/MyDrive/Project_Spring2021/RedditPosts/amazonecho_redditPosts.json',
        '/content/drive/MyDrive/Project_Spring2021/RedditPosts/googlehome_redditPosts.json',
        '/content/drive/MyDrive/Project_Spring2021/RedditPosts/HomePod_redditPosts.json']
with open(path[0]) as f:
  amz = json.load(f)
with open(path[1]) as f:
  ggl = json.load(f)
with open(path[2]) as f:
  hpd = json.load(f)

def json_to_df(df, path):
  df = pd.read_json(path, encoding='utf-8')
  #df[0] = df[0].apply(lambda x: {} if pd.isna(x) else ast.literal_eval(x))
  #df = pd.DataFrame(df[0].to_dict()).T
  return df

amz = pd.read_json(path[0], encoding='utf-8')
ggl = pd.read_json(path[1], encoding='utf-8')
hpd = pd.read_json(path[2], encoding='utf-8')
df = pd.concat([amz,ggl,hpd]).reset_index()

## Reddit Posts

In [ ]:
df.head()

  all_awardings associated_award  ... distinguished edited
0            []              NaN  ...          None    NaN
1            []              NaN  ...          None    NaN
2            []              NaN  ...          None    NaN
3            []              NaN  ...          None    NaN
4            []              NaN  ...          None    NaN

[5 rows x 39 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184489 entries, 0 to 46410
Data columns (total 39 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   all_awardings                    184489 non-null  object
 1   associated_award                 1 non-null       object
 2   author                           184489 non-null  object
 3   author_flair_background_color    8521 non-null    object
 4   author_flair_css_class           3707 non-null    object
 5   author_flair_richtext            182232 non-null  object
 6   author_flair_template_id         6972 non-null    object
 7   author_flair_text                7370 non-null    object
 8   author_flair_text_color          10924 non-null   object
 9   author_flair_type                182232 non-null  object
 10  author_fullname                  182232 non-null  object
 11  author_patreon_flair             182232 non-null  float64
 12  author_premium                   182232 non-null  float64
 13  awarders                         184489 non-null  object
 14  body                             184489 non-null  object
 15  collapsed_because_crowd_control  0 non-null       float64
 16  comment_type                     0 non-null       float64
 17  created_utc                      184489 non-null  int64
 18  gildings                         184489 non-null  object
 19  id                               184489 non-null  object
 20  is_submitter                     184489 non-null  bool
 21  link_id                          184489 non-null  object
 22  locked                           184489 non-null  bool
 23  no_follow                        184489 non-null  bool
 24  parent_id                        184489 non-null  object
 25  permalink                        184489 non-null  object
 26  retrieved_on                     184489 non-null  int64
 27  score                            184489 non-null  int64
 28  send_replies                     184489 non-null  bool
 29  stickied                         184489 non-null  bool
 30  subreddit                        184489 non-null  object
 31  subreddit_id                     184489 non-null  object
 32  top_awarded_type                 0 non-null       float64
 33  total_awards_received            184489 non-null  int64
 34  treatment_tags                   170347 non-null  object
 35  created                          184489 non-null  int64
 36  author_cakeday                   672 non-null     float64
 37  distinguished                    321 non-null     object
 38  edited                           1388 non-null    float64
dtypes: bool(5), float64(7), int64(5), object(22)
memory usage: 50.1+ MB

In [ ]:
df['all_awardings'].value_counts().to_frame()[:1]

    all_awardings
[]         184404

Only 85 rows have records in this column.

In [ ]:
df.columns

Index(['all_awardings', 'associated_award', 'author',
       'author_flair_background_color', 'author_flair_css_class',
       'author_flair_richtext', 'author_flair_template_id',
       'author_flair_text', 'author_flair_text_color', 'author_flair_type',
       'author_fullname', 'author_patreon_flair', 'author_premium', 'awarders',
       'body', 'collapsed_because_crowd_control', 'comment_type',
       'created_utc', 'gildings', 'id', 'is_submitter', 'link_id', 'locked',
       'no_follow', 'parent_id', 'permalink', 'retrieved_on', 'score',
       'send_replies', 'stickied', 'subreddit', 'subreddit_id',
       'top_awarded_type', 'total_awards_received', 'treatment_tags',
       'created', 'author_cakeday', 'distinguished', 'edited'],
      dtype='object')

In [ ]:
cols = ['all_awardings', 'associated_award', 
       'author_flair_background_color', 'author_flair_css_class',
       'author_flair_richtext', 
       'author_flair_text', 'author_flair_text_color', 'author_flair_type',
       'author_patreon_flair', 'author_premium', 'awarders',
       'collapsed_because_crowd_control', 'comment_type',
       'gildings', 'is_submitter', 'locked',
       'no_follow', 'score',
       'send_replies', 'stickied', 'subreddit', 
       'top_awarded_type', 'total_awards_received', 'treatment_tags',
       'author_cakeday', 'distinguished', 'edited'] 
for col in cols:
  print(df[col].value_counts().to_frame())
  print('Null Count: ', df[col].isna().sum())
  print('--------------------------------------')

                                                    all_awardings
[]                                                         184404
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...             11
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              8
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              5
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              5
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              3
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              3
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              3
[{'award_sub_type': 'PREMIUM', 'award_type': 'g...              3
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              3
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              2
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              2
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              2
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              2
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GROUP', 'award_type': 'glo...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'PREMIUM', 'award_type': 'g...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'PREMIUM', 'award_type': 'g...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'GLOBAL', 'award_type': 'gl...              1
[{'award_sub_type': 'PREMIUM', 'award_type': 'g...              1
Null Count:  0
--------------------------------------
                                                    associated_award
{'award_sub_type': 'GLOBAL', 'award_type': 'glo...                 1
Null Count:  184488
--------------------------------------
         author_flair_background_color
                                  3952
#646d73                           2428
#dadada                           1035
#edeff1                            896
#00e05f                             86
#ddbd37                             62
#ea0027                             62
Null Count:  175968
--------------------------------------
           author_flair_css_class
spacegray                    2428
white                         896
mod                           117
green                          86
gold                           62
rule6                          62
survey                         50
dev                             6
Null Count:  180782
--------------------------------------
                                                    author_flair_richtext
[]                                                                 178698
[{'a': ':homepod_spacegray:', 'e': 'emoji', 'u'...                   2302
[{'a': ':homepod_white:', 'e': 'emoji', 'u': 'h...                    836
[{'a': ':homepod_mini_spacegray:', 'e': 'emoji'...                    123
[{'a': ':homepod_green:', 'e': 'emoji', 'u': 'h...                     86
[{'a': ':homepod_gold:', 'e': 'emoji', 'u': 'ht...                     62
[{'a': ':homepod_mini_spacegray:', 'e': 'emoji'...                     62
[{'a': ':homepod_mini_white:', 'e': 'emoji', 'u...                     60
[{'e': 'text', 't': ':homepod_spacegray: Space ...                      3
Null Count:  2257
--------------------------------------
                                                    author_flair_text
:homepod_spacegray: Space Gray                                   2305
:homepod_white: White                                             836
USA | 4 GHH | 2 Orig GH | 8 GNM | 3 CC |  Nest ...                500
Google Home                                                       357
Google Mini (1st Gen)                                             237
...                                                               ...
HA / ST | Hue | Insteon | Ring | GH                                 1
Home | TPLink Kasa | Chromecast | Chromecast Audio                  1
Galaxy S8+, Nexus 6P, Pixel C (RMA'd 2019), Gal...                  1
SHIELD TV | Phillips Hue| GH Mini                                   1
GHMx2 | Castx2 | Cast Audio | Wink | Hue | HA.io                    1

[242 rows x 1 columns]
Null Count:  177119
--------------------------------------
       author_flair_text_color
dark                      7202
light                     2490
                          1232
Null Count:  173565
--------------------------------------
          author_flair_type
text                 178698
richtext               3534
Null Count:  2257
--------------------------------------
     author_patreon_flair
0.0                182232
Null Count:  2257
--------------------------------------
     author_premium
0.0          172626
1.0            9606
Null Count:  2257
--------------------------------------
    awarders
[]    184489
Null Count:  0
--------------------------------------
Empty DataFrame
Columns: [collapsed_because_crowd_control]
Index: []
Null Count:  184489
--------------------------------------
Empty DataFrame
Columns: [comment_type]
Index: []
Null Count:  184489
--------------------------------------
                          gildings
{}                          184462
{'gid_1': 1}                    15
{'gid_2': 1}                    11
{'gid_1': 1, 'gid_2': 1}         1
Null Count:  0
--------------------------------------
       is_submitter
False        149597
True          34892
Null Count:  0
--------------------------------------
       locked
False  184489
Null Count:  0
--------------------------------------
       no_follow
True      171760
False      12729
Null Count:  0
--------------------------------------
      score
1    146204
2     20907
3      5667
0      2976
4      1889
..      ...
99        1
181       1
100       1
55        1
92        1

[157 rows x 1 columns]
Null Count:  0
--------------------------------------
       send_replies
True         184221
False           268
Null Count:  0
--------------------------------------
       stickied
False    184455
True         34
Null Count:  0
--------------------------------------
            subreddit
googlehome      99101
HomePod         46411
amazonecho      38977
Null Count:  0
--------------------------------------
Empty DataFrame
Columns: [top_awarded_type]
Index: []
Null Count:  184489
--------------------------------------
   total_awards_received
0                 184404
1                     77
2                      6
4                      2
Null Count:  0
--------------------------------------
    treatment_tags
[]          170347
Null Count:  14142
--------------------------------------
     author_cakeday
1.0             672
Null Count:  183817
--------------------------------------
           distinguished
moderator            321
Null Count:  184168
--------------------------------------
              edited
1.601524e+09       1
1.589597e+09       1
1.589516e+09       1
1.589559e+09       1
1.589562e+09       1
...              ...
1.598071e+09       1
1.598082e+09       1
1.598110e+09       1
1.598118e+09       1
1.601492e+09       1

[1388 rows x 1 columns]
Null Count:  183101
--------------------------------------

In [ ]:
df = df.drop(['author_patreon_flair','awarders','collapsed_because_crowd_control',
                'comment_type','top_awarded_type','treatment_tags','author_cakeday',
                'distinguished'],axis=1)

In [ ]:
# columns with spaces
print((df['author_flair_background_color'] == '').sum())
print((df['author_flair_text_color'] == '').sum())

3952
1232

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 184489 entries, 0 to 46410
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   all_awardings                  184489 non-null  object
 1   associated_award               1 non-null       object
 2   author                         184489 non-null  object
 3   author_flair_background_color  8521 non-null    object
 4   author_flair_css_class         3707 non-null    object
 5   author_flair_richtext          182232 non-null  object
 6   author_flair_template_id       6972 non-null    object
 7   author_flair_text              7370 non-null    object
 8   author_flair_text_color        10924 non-null   object
 9   author_flair_type              182232 non-null  object
 10  author_fullname                182232 non-null  object
 11  author_premium                 182232 non-null  float64
 12  body                           184489 non-null  object
 13  created_utc                    184489 non-null  int64
 14  gildings                       184489 non-null  object
 15  id                             184489 non-null  object
 16  is_submitter                   184489 non-null  bool
 17  link_id                        184489 non-null  object
 18  locked                         184489 non-null  bool
 19  no_follow                      184489 non-null  bool
 20  parent_id                      184489 non-null  object
 21  permalink                      184489 non-null  object
 22  retrieved_on                   184489 non-null  int64
 23  score                          184489 non-null  int64
 24  send_replies                   184489 non-null  bool
 25  stickied                       184489 non-null  bool
 26  subreddit                      184489 non-null  object
 27  subreddit_id                   184489 non-null  object
 28  total_awards_received          184489 non-null  int64
 29  created                        184489 non-null  int64
 30  edited                         1388 non-null    float64
dtypes: bool(5), float64(2), int64(5), object(19)
memory usage: 38.9+ MB

In [ ]:
(df['body']=='[deleted]').sum()

1642

In [ ]:
text = df.loc[df['body']!='[deleted]','body']

In [ ]:
text[3]

'Well, it’s still not working. I was just getting home and Spotify in my phone stopped and I saw it switched to my daughter’s Echo. I switched it back to my Amazon Auto and seconds later it switched back to hers with a different song. So I went to her room and asked the Dot what account was being used and it said hers. \n\nSo I’m at a loss. The only other thing I can think of is that because she is ten, she has to have Spotify kids. Maybe there is some restriction there. Any other ideas?'

In [ ]:
import gensim
from gensim import corpora
from gensim.utils import simple_preprocess
from gensim.models import CoherenceModel

import nltk
from nltk.corpus import stopwords 
#from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize 
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
def sent_to_words(sentences):
    for sentence in sentences:
        yield(gensim.utils.simple_preprocess(str(sentence), deacc=True))  # deacc=True removes punctuations

def remove_stopwords(texts):
    return [[word for word in simple_preprocess(str(doc)) if word not in stop_words] for doc in texts]

stop_words = stopwords.words('english')
sentences=sent_tokenize(text[3])

data_words = list(sent_to_words(sentences))
data_words_nostops = remove_stopwords(data_words)

dictionary = corpora.Dictionary(data_words_nostops)
corpus = [dictionary.doc2bow(text) for text in data_words_nostops]

NUM_TOPICS = 1
ldamodel = gensim.models.ldamodel.LdaModel(corpus, num_topics = NUM_TOPICS, id2word=dictionary, passes=15)
print("ldamodel is built")
#ldamodel.save('model5.gensim')
topics = ldamodel.print_topics(num_words=1)
for topic in topics:
    print(topic)

ldamodel is built
(0, '0.056*"switched"')

In [ ]:
model = gensim.models.Word2Vec(data_words_nostops, min_count=1)
print(model.most_similar("switched", topn=10))

[('account', 0.18316441774368286), ('said', 0.1680547446012497), ('kids', 0.15384265780448914), ('dot', 0.14991796016693115), ('still', 0.10650426149368286), ('daughter', 0.09343045949935913), ('echo', 0.073850616812706), ('getting', 0.05857015773653984), ('maybe', 0.024675710126757622), ('later', 0.022150661796331406)]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).

## Stock Prices

In [ ]:
path2 = ['/content/drive/MyDrive/Project_Spring2021/StockPrices_marketwatch/AAPL.csv',
         '/content/drive/MyDrive/Project_Spring2021/StockPrices_marketwatch/AMZN.csv',
         '/content/drive/MyDrive/Project_Spring2021/StockPrices_marketwatch/GME.csv',
         '/content/drive/MyDrive/Project_Spring2021/StockPrices_marketwatch/GOOG.csv']
aapl = pd.read_csv(path2[0])
amzn = pd.read_csv(path2[1])
gme = pd.read_csv(path2[2])
goog = pd.read_csv(path2[3])

In [ ]:
aapl.head()

         Date       Open       High        Low      Close  Adj Close     Volume
0  2020-02-27  70.275002  71.500000  68.239998  68.379997  67.854019  320605600
1  2020-02-28  64.315002  69.602501  64.092499  68.339996  67.814331  426884800
2  2020-03-02  70.570000  75.360001  69.430000  74.702499  74.127892  341397200
3  2020-03-03  75.917503  76.000000  71.449997  72.330002  71.773636  319475600
4  2020-03-04  74.110001  75.849998  73.282501  75.684998  75.102829  219178400

In [ ]:
amzn.head()

         Date         Open         High  ...        Close    Adj Close   Volume
0  2020-02-27  1934.380005  1975.000000  ...  1884.300049  1884.300049  8144000
1  2020-02-28  1814.630005  1889.760010  ...  1883.750000  1883.750000  9493800
2  2020-03-02  1906.489990  1954.510010  ...  1953.949951  1953.949951  6761700
3  2020-03-03  1975.369995  1996.329956  ...  1908.989990  1908.989990  7534500
4  2020-03-04  1946.569946  1978.000000  ...  1975.829956  1975.829956  4772900

[5 rows x 7 columns]

In [ ]:
gme.head()

         Date  Open  High   Low  Close  Adj Close   Volume
0  2020-02-27  3.23  3.63  3.18   3.47       3.47  3879500
1  2020-02-28  3.34  3.72  3.34   3.60       3.60  4692200
2  2020-03-02  3.60  3.85  3.39   3.83       3.83  3208400
3  2020-03-03  3.88  3.89  3.50   3.63       3.63  4282500
4  2020-03-04  3.71  3.83  3.46   3.77       3.77  4257600

In [ ]:
goog.head()

         Date         Open         High  ...        Close    Adj Close   Volume
0  2020-02-27  1362.060059  1371.703979  ...  1318.089966  1318.089966  2978300
1  2020-02-28  1277.500000  1341.140015  ...  1339.329956  1339.329956  3789100
2  2020-03-02  1351.609985  1390.869995  ...  1389.109985  1389.109985  2431500
3  2020-03-03  1399.420044  1410.150024  ...  1341.390015  1341.390015  2402300
4  2020-03-04  1359.229980  1388.089966  ...  1386.520020  1386.520020  1913300

[5 rows x 7 columns]